<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body> 
    <header>
        <div class="combo-search">

        <div class="logo-search">
        <div><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></div>
        
        <div class="search">
            <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i></div>
        
        </div>
        <h3 class="compra"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito</h3>
        </div>
        
        <nav class="nav-enlaces">
            <ul>
                <li><a href="#"> Ofertas </a></li>
                <li><a href="#"> Tiendas Oficiales </a></li>
                <li><a href="#"> Vender </a></li>
                <li><a href="#"> Ayuda </a></li>
            </ul>

            <ul>
                <li><a href="/register"> Creá tu cuenta  </a><i id="iconitos" class="fas fa-address-card"></i></li>
                <li><a href="/login"> Ingresá  </a><i id="iconitos" class="fas fa-sign-in-alt"></i></li>
                <li><a href="#"> Mis compras  </a><i id="iconitos" class="fas fa-shopping-cart"></i></li>
            </ul>

        </nav>
        <a href="#" class="menu"><i class="fas fa-bars"></i></a>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
        <div class="articulos">
            <article>                
                <img class="images" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$6.770</h4>
                    <h3 class="descuento">40% off</h3>
                    <h3 class="des-product">Cafetera Moulinex</h3>
                </div>    
            </article>
            
            <article>
                <img class="images" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$230.000</h4>
                    <h3 class="descuento">20% off</h3>
                    <h3 class="des-product">MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img class="images" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$70.500</h4>
                    <h3 class="descuento">10% off</h3>
                    <h3 class="des-product">Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img class="images" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$$23.200</h4>
                    <h3 class="descuento">5% off</h3>
                    <h3 class="des-product">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </div>
        </section>

        <section>   
            <h2>Ofertas</h2>
        <div class="articulos">
            <article>                
                <img class="images" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$6.770</h4>
                    <h3 class="descuento">40% off</h3>
                    <h3 class="des-product">Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img class="images" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$230.000</h4>
                    <h3 class="descuento">20% off</h3>
                    <h3 class="des-product">MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img class="images" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$70.500</h4>
                    <h3 class="descuento">10% off</h3>
                    <h3 class="des-product">Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img class="images" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="descripcion">
                    <div class="carrito"><i class="fas fa-truck"></i>
                    </div>
                    <h4>$$23.200</h4>
                    <h3 class="descuento">5% off</h3>
                    <h3 class="des-product">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </div>
        </section>
    </main>
</body>
<br>
<br>
<footer>
    <div class="footer-top">
    <section class="seccion">
        <div class="icono-footer"><i class="fas fa-credit-card"></i></div>
        <h3 class="texto-footer">Pagá con tarjeta o en efectivo</h3>
        <p class="p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
            </p>
    </section>

    <section class="seccion">
        <div class="icono-footer"><i class="fas fa-gift"></i></div>
        <h3 class="texto-footer">Envío gratis desde $ 2.500</h3>
        <p class="p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.      
            </p>
    </section>

    <section class="seccion">
        <div class="icono-footer"><i class="fas fa-user-shield"></i></div>
        <h3 class="texto-footer">Seguridad, de principio a fin</h3>
        <p class="p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.               
            </p>
    </section>
    </div>
    <div class="footer-bottom"> 
    <section>
        <p class="pie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
    </div>  
</footer>
</html>