<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre|Registro</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <!--header-->
            <div class="combo-search">
    
            <div class="logo-search">
            <div><a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></a></div>
            
            <div class="search">
                <input type="text" placeholder="Buscar productos, marcas" class="input"><i class="fas fa-search"></i></div>
            
            </div>
            <h3 class="compra"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito</h3>
            </div>
            <nav class="nav-enlaces">
                <ul>
                    <li><a href="#"> Ofertas </a></li>
                    <li><a href="#"> Tiendas Oficiales </a></li>
                    <li><a href="#"> Vender </a></li>
                    <li><a href="#"> Ayuda </a></li>
                </ul>
    
                <ul>
                    <li><a href="/register"> Creá tu cuenta  </a><i id="iconitos" class="fas fa-address-card"></i></li>
                    <li><a href="/login"> Ingresá  </a><i id="iconitos" class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#"> Mis compras  </a><i id="iconitos" class="fas fa-shopping-cart"></i></li>
                </ul>
            </nav>
            <a href="#" class="menu"><i class="fas fa-bars"></i></a>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
    <h1 class="completar">Completa tus datos</h1>
    <form class="login-complete">
        <div class="usuario-log">
            <label>Nombre de Usuario</label>
            <input type="text" name="usuario" required>
        </div>
        <div class="pass-log">
            <label>Contarseña</label>
            <input type="password" name="contraseña" required>
        </div>
        <div class="enviar">
            <a href="/">Enviar</a>
        </div>
    </form>
</body>
</html>